@charset 'utf-8';

@import 'reset', 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

.html .setting, .basicHtml, .css, .java
strong {
    font-size:18px;
    font-weight:100;
}
.html li a {
    display:block;
    box-sizing:border-box;
    padding:15px 20px;
    transition:all 0.5s;
    background-color:#313131;
    
    &:hover {
        background-color:cadetblue;
    }
    
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color:#131313;
    box-sizing:border-box;
}


.fontColor {
    color:#f2f2f2;
    
}


.allWrap {
    padding:0 60px;
    .head {
        padding-left:50px;
        display:flex;
        align-items:center;
        i {
           
           margin-right:30px;
           font-size:45px;
        }
        h1 {
            display:inline-block;
            margin:60px 0;
            font-weight:100;
            font-size:60px;
            text-align:center;
            // background-color:red;
            
        }
    }
    .searchTab {
        
        background-color:#353535;
        padding:16px 10px;
        display:flex;
        border-radius:20px 20px 0 0;
        border-left:1px solid #505050;
        border-top:1px solid #505050;
        border-right:1px solid #505050;
        align-items:center;
        .searchGrp {
            position:relative;
            .searchBar {
                max-width:240px;
                margin-left:10px;
                font-size:23px;
                padding:3px 20px;
                @include radius(20px);
    
            }
            .searchBtn {
                position:absolute;
                height:30px;
                width:30px;
                background-color:transparent;
                top:3px;
                right:3%;
                
                i {
                    font-size:25px;
                    color:black;
                }
            }
        }
        
    }
    .checkList {
        background-color:#1f1f1f;
        display:flex;
        justify-content:space-between;
        border:1px solid #505050;
        .html {
            
            min-width:280px;
            // background-color:red;
            h2 {
                height:60px;
                line-height:60px;
                background-color:#2a2a2a;
                border-bottom:1px solid #6e6e6e;
                text-align:center;
                font-size:30px;
                font-weight:300;

            }
            .basicHtml {
                
                
                
            }
            
            
            
        }
        .viewGrp {
            flex-grow:1;
            margin-left:30px;
            border-left:1px solid #6e6e6e;
            
            
            .viewBox {
                flex-grow:1;
                overflow-y:auto;
                max-height:1590px;
                box-sizing:border-box;
                padding:10px 40px;
                
                ::-webkit-scrollbar-track {
                    display:none;
                }
                
                .gitDoc, .bStruct, .impFont, .mainNav, .logIn, .radio, .aona, .classAdd, .forEach, .forEachShort, .ifIncludes {
                    display:none;
                    strong {
                        font-size:20px;
                    }
                    .keyword {
                        display:block;
                        margin-top:20px;
                        color:#696969;
                    }
                    h2 {
                        
                        font-size:40px;
                        color:cadetblue;
                        margin-top:60px;
                    }
                }
                .gitDoc {
                    
                    .hotCommand {
                        display:flex;
                        justify-content:space-between;
                        .initialP h3, .gitCommand h3 {
                            // background-color:black;
                            font-size:25px;
                            margin:20px 0;
                            color:cadetblue;
                            text-align:center;
                        }
                        .initialP {
                            // background-color:red;
                            flex-shrink:0;
                            margin-right:15px;
                            
                            .initialList {
                                
                                li {
                                    padding:10px 0;
                                }
                            }
                            
                        }
                        .gitCommand {
                            
                            .gitComList {
                                display:flex;
                                // background-color:blue;
                                flex-wrap:wrap;
                                justify-content:flex-end;
                                
                                dt {
                                    width:300px;
                                    flex-shrink:0;
                                    padding:10px 10px 10px 10px;
                                    border-right:1px solid #626262;
                                    border-bottom:1px solid #626262;
                                    border-left:1px solid #626262;
                                    text-align:center;
                                    &:first-child {
                                        background-color:cornflowerblue;
                                        border-right:1px solid #626262;
                                        border-left:none;
                                    }
                                }
                                
                                dd {
                                    width:calc(100% - 500px);
                                    text-align:center;
                                    padding:10px 0;
                                    border-right:1px solid #626262;
                                    border-bottom:1px solid #626262;
                                    &:first-child {
                                        background-color:cornflowerblue;
                                    }
                                }
                            }
                        }
                        
                    }
                }

                .logIn {
                    .cont {
                        margin-top:40px;
                        display:flex;
                        .textBox {
                            border:none;
                            background-color:#141414;
                            height:400px;
                            width:50%;
                            color:#f2f2f2;
                            text-align:left;
                            box-sizing:border-box;
                        }
                        .frame {
                            border:none;
                            background-color:#757575;
                            margin-left:20px;
                            height:400px;
                            width:50%;
                            box-sizing:border-box;
                        }
                    }
                    
                    .loginGrp {
                        border:1px solid #8b8b8b;
                        width:16%;
                        padding:30px 30px;
                        margin:50px 0;
                        .userInfo {
                            display:flex;
                            justify-content:space-between;
                            .idBox {
                                display:flex;
                                flex-wrap:wrap;
                                justify-content:space-between;
                                width:calc(100% - 100px);
                                label {
                                    margin-top:10px;
                                }
                                input {
                                    width:calc(100% - 70px);
                                    margin-top:10px;
                                    box-sizing:border-box;
                                }
                            }
                            button {
                                margin-top:10px;
                                width:60px;
                                color:#050505;
                                
                            }
                        }
                        
                    }
                }
                .radio {
                    .checkBoxGrp {
                        display:inline-block;//이렇게해야 굳이 width 값 안넣고 안에 요소만큼 가지게 할수있음 
                        border:1px solid #f2f2f2;
                        padding:20px 30px;
                        margin:60px 0;
                    }
                }
                .aona {
                    .listGrp {
                        .newList {
                            max-height:350px;
                            margin:60px 0;
                            border:1px solid #f2f2f2;
                            padding:60px 60px;
                            max-width:1300px;
                            display:flex;
                            justify-content:space-between;
                            flex-wrap:wrap;
                            overflow-y:auto;
                            .items {
                                position:relative;
                                margin-bottom:25px;
                                &:hover {//오른쪽 위의 옵션 아이콘과 동시에 호버가 일어나야하므로 제일 큰 li인 items에 호버를 걸어서 하나의 호버에 묶어줌
                                    .thumb {
                                        box-shadow: 0 10px 35px 5px rgba(1, 1, 1, 1);
                                        transform:scale(1.1);
                                    }
                                    .btnOpt {
                                        opacity:1;
                                        top:10px;
                                        right:0;
                                    }
                                    .thumb .dim {
                                        opacity:0.8;

                                    }
                                    
                                }
                                .btnOpt {
                                    position:absolute;
                                    background-color:transparent;
                                    top:18px;
                                    right:18px;
                                    z-index:1;
                                    opacity:1;//호버했을때만 나오게하려면 0으로 주면됨
                                    transition:all 0.3s;
                                    i {
                                        font-size:22px;
                                        color:#f2f2f28c;
                                    }
                                }
                                a {
                                    
                                    .thumb {
                                        position:relative;
                                        box-sizing:border-box;
                                        overflow:hidden;
                                        width:380px;
                                        height:200px;
                                        transition:all 0.3s;
                                        @include radius(15px);
                                        img {
                                            width:100%;
                                            
                                            background-repeat:no-repeat;
                                            background-position:center;
                                            background-size:contain;
                                        }
                                        .dim {
                                            position:absolute;
                                            left:0;
                                            bottom:0;
                                            height:28px;
                                            width:100%;
                                            background-color:black;
                                            opacity:0;
                                            transition:all 0.2s;
                                            z-index:100;
                                            box-sizing:border-box;
                                            padding:0 0 0 260px;//?.부모에 패딩을 줘서 위치 조절을 하는게 나은가 이님 자식요소에 마진을 줘서 위치조정하는게 나은가?
                                            display:flex;
                                            align-items:center;
                                            .comment {//!.inline요소의 텍스트 세로 정렬 어려움 
                                                // background-color:red;
                                                position:relative;
                                                display:block;
                                                
                                                i {
                                                    font-size:15px; 
                                                    
                                                }
                                            }
                                            .view {
                                                display:block;
                                                // background-color:red;
                                                margin-left:10px;
                                                
                                                i {
                                                    font-size:17px;
                                                }
                                            }
                                            b {
                                                // background-color:green;
                                                font-size:14px;
                                            
                                            }
                                        }
                                        
                                    }
                                    .subTitleBar {//아래 p라인이 블럭요소라 a박스를 필요이상으로 늘어나게 하기때문에 적당한 width 값으로 줄여야함
                                        display:flex;
                                        margin-top:10px;
                                        .dataCircle {
                                            display:flex;
                                            flex-direction:column;
                                            justify-content:space-between;
                                            padding:5px 0;
                                            .updateCircle {
                                                @include circle2(13px, rgb(112, 209, 112));
                                            }
                                            .ageCircle {
                                                @include circle2(13px, rgb(67, 103, 133));
                                            }
                                        }
                                    }
                                    
                                    p {
                                        color:rgb(110, 110, 110);
                                        width:362px;
                                        word-break:break-all;
                                        margin-left:5px;
                                        // background-color:black;
                                        display:-webkit-box;
                                        overflow:hidden;
                                        text-overflow:ellipsis;
                                        -webkit-line-clamp:2;
                                        -webkit-box-orient:vertical;
                                        
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                 
            }
            
            
            // .viewBox::-webkit-scrollbar-track {
                
            // }
            
        }
        
    }
}